* {
  margin: 0;
  padding: 0; }

form {
  width: 280px;
  text-align: left; }
  form h3 {
    clear: both;
    padding: 5px 0px 10px 0px;
    font-size: 14px; }
  form label {
    display: block;
    width: 270px;
    font-size: 12px;
    line-height: 14px;
    padding: 0px 0px 12px 0px; }
    form label.field {
      clear: left;
      float: left;
      width: 270px;
      margin: 0px 0px 0px 0px; }
      form label.field input {
        float: left;
        width: 270px;
        padding: 0px; }
    form label.field-first {
      float: left;
      margin: 0px 10px 0px 0px;
      width: 130px; }
      form label.field-first input {
        float: left;
        width: 130px;
        padding: 0px; }
      form label.field-first select {
        width: 130px;
        float: left;
        margin-top: 3px; }
    form label.field-state {
      float: left;
      margin-right: 10px;
      width: 50px; }
      form label.field-state select {
        width: 50px;
        float: left;
        margin-top: 3px; }
    form label.field-zip {
      float: left;
      width: 70px; }
      form label.field-zip input {
        float: left;
        width: 70px; }
    form label.radiobutton {
      clear: none;
      margin: 0px 0px 0px 25px;
      padding: 0px 0px 15px 0px; }
    form label.checkbox {
      clear: none;
      margin: 0px 0px 0px 25px;
      padding: 0px 0px 15px 0px; }
  form input {
    display: block;
    margin-top: 3px; }
    form input.radiobutton {
      clear: left;
      float: left;
      padding: 0px;
      margin: 0px 0px 0px 0px; }
    form input.checkbox {
      clear: both;
      float: left;
      padding: 0px;
      margin: 0px; }
  form select {
    float: left;
    display: block; }
  form textarea {
    margin-top: 3px; }

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  text-indent: 0;
  clear: left;
  border: 0 solid;
  position: relative; }

legend {
  padding: 5px 0px 10px 0px;
  margin: 0 0 0 0;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: -7px; }

fieldset>legend {
  left: 0; }

form label.field-first {
  clear: left; }
form label.field-address {
  clear: left;
  float: left;
  width: 270px;
  margin: 0px 0px 0px 0px; }
  form label.field-address input {
    float: left;
    width: 270px;
    padding: 0px; }
form label.field-city {
  clear: left;
  float: left;
  margin: 0px 10px 0px 0px;
  width: 130px; }
  form label.field-city input {
    float: left;
    width: 130px;
    padding: 0px; }
form label.field-email {
  clear: left;
  float: left;
  margin: 0px 10px 0px 0px;
  width: 130px; }
  form label.field-email input {
    float: left;
    width: 130px;
    padding: 0px; }
form label.field-last {
  float: left;
  margin: 0px 10px 0px 0px;
  width: 130px; }
  form label.field-last input {
    float: left;
    width: 130px;
    padding: 0px; }
  form label.field-last select {
    width: 130px;
    float: left;
    margin-top: 3px; }
form label.field-phone {
  float: left;
  margin: 0px 10px 0px 0px;
  width: 130px; }
  form label.field-phone input {
    float: left;
    width: 130px;
    padding: 0px; }

textarea {
  display: block; }
